altair
attrs
bcrypt
blinker
cachetools
captcha
certifi
cffi
charset-normalizer
choreographer
click
colorama
cryptography
et_xmlfile
extra-streamlit-components
git-filter-repo
gitdb
GitPython
idna
iniconfig
Jinja2
jsonschema
jsonschema-specifications
kaleido
logistro
MarkupSafe
narwhals
numpy
openpyxl
orjson
packaging
pandas
patsy
pillow
pip
plotly
plotly-express
pluggy
protobuf
pyarrow
pycparser
pydeck
Pygments
PyJWT
pytest
pytest-timeout
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy
simplejson
six
smmap
statsmodels
streamlit
streamlit-authenticator
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
xlsxwriter
matplotlib